@import url("https://fonts.googleapis.com/css?family=Handlee|Dosis");
* {
  font-family: "Handlee", cursive;
  box-sizing: border-box;
}

body {
  margin: 10px;
  text-align: center;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  max-width: 700px;
}

.main-image {
  opacity: 0.7;
    max-width: 100%;
    border-radius: 10px;
    position: relative;
    z-index: -1;
    top: 145px;
}



.pin {
  background: #fff;
  color: black;
  font-size: 40px;
  width: 150px;
  height: 150px;
  z-index: 2;
  position: absolute;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: rgb(255, 115, 21);
  /* box-shadow: 0 0 0 rgba(255, 255, 255, 0.4); */
  animation: pulse 3s infinite;
}

.pin-wrapper {
  position: absolute;
}
.pin-wrapper:hover .aboutus {
  opacity: 1;
  visibility: visible;
  margin-top: -50px;
}

.aboutus {
  /* display: flex; */
  opacity: 0;
  visibility: hidden;
  transition: ease 0.3s all;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 3px  rgb(255, 115, 21);
  background:black;
  color: rgb(255, 115, 21);
  z-index: 3;
  position: absolute;
  cursor: pointer;
  padding: 5px;
  width: 270px;
  height: 160px;
  margin-left: -100px;
  margin-top: -30px;
}

.photo {
  float: left;
  flex-direction: row;
  width: 150px;
  height: 150px;
}

.card-title {
  padding-top: 10px;
  font-size: 20px;
  line-height: 1.2;
}
.card-major{
  padding-top: 10px;
  font-size: 12px;
  line-height: 1.2;
}
.card-button {
  color:white;
  text-transform: uppercase;
  font-family: "Dosis";
  border: 1px solid black;
  text-decoration: none;
  /* padding: 8px 10px; */
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  background-color: black;
  /* background-color: blue; */
  width: 25px;
}

.card-button:hover {
  color: rgb(255, 115, 21);
  background: transparent;
   box-shadow:none;
}
/* ---------- */
.card-button:before,
.card-button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #FF7315;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.card-button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.card-button:hover:before,
.card-button:hover:after{
  width:100%;
  transition:800ms ease all;
}
/* --------------- */
.main-title {
  font-size: 35px;
  line-height: 1;
  color:white;
  font-weight: 200;
  margin-top: 40px;
  font-family: 'Lobster', cursive;

}
.main-title:before,
.main-title:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #FF7315;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.main-title:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.main-title:hover:before,
.main-title:hover:after{
  width:100%;
  transition:800ms ease all;
}
/* @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}


.content {
	position: relative;
}

.content h2 {
	color: #fff;
	font-size: 4em;
	position: absolute;
  left: 220px;
  top:74px;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px white;
}

.content h2:nth-child(2) {
	color: rgb(255, 115, 21);
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
} */

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0  rgb(255, 115, 21);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}