

.pt-4 {
  padding-top: 1.5rem!important;
  background-color: rgb(22, 21, 21);
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
  background-color: rgb(48, 45, 45);
  color: white;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  display: inline-flex;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  margin-left: 19px;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
  color: white;
}