.Sofretkom{
  text-align: center;
  font-family: 'Lobster', cursive;
  margin-left:86%;
  font-size: 30px;

}
.aboutOurWebSite{
  text-align: center;
  margin-left:45%;
  width: 300px;
 text-align: justify;
 padding-top: 10px;

}
.hrspace{
  width: 133%;
  margin-left: 30%;
  margin-top: 50px;

}
.contactUs{
margin-left: -50px;
color:aliceblue;
}
.pt-4 {
  padding-top: 1.5rem!important;
  background-color:rgb(22, 21, 21)
}

.py-3 {
  padding-top: 2rem!important;
  padding-bottom: 1rem!important;
  background-color:rgb(22, 21, 21);
  color: white;
  margin-left: -4%;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  display: inline-flex;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  margin-left: 19px;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
  color: white;
}
a{
  text-decoration: none;
  color: aliceblue;
}
.icons{
  target:"_blank";
}
.footer{
  width:16px;
   height:16px;
   
}
.social-links {
 
  margin-top: 30px;
  margin-left: -5%;
}
*, *::before, *::after {
  box-sizing:inherit;
}

.social-links a {
  padding-left: 50px;

  
}


.social-links a :hover{

  padding: 16px;
  line-height: 0;
  margin: 0 2px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid rgb(240, 208, 208);
  -webkit-transition: 0.3s border;
  -moz-transition: 0.3s border;
  -ms-transition: 0.3s border;
  -o-transition: 0.3s border;
  transition: 0.3s border;
}
/* .footer-copyright{
  text-decoration: none;
  padding-top: 40px;
  text-align: center;
} */