.imgBody{
    width: 100%;
   height: 32rem;
}

/* .card{
    display: inline-block;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 200px;
    padding : 20px;
    margin: 20px;
  } */
  .sofretkomtitle
  {
      display: block;
      font-size: 4rem;
      font-weight:1000;
      letter-spacing: 6rem;
      text-transform: uppercase;
  }
  .sofretkomheader
  {
      color:rgb(250, 250, 250) ;
      display: block;
      font-size: 1rem;
      font-weight: 700;
      text-align: justify;
      margin-left:28%;
      font-family: 'Nunito Sans', sans-serif;
      letter-spacing: 3px;
      position: absolute;
      top: 254px;
      right: 1px;
      
      
  }
/* ----------------------------------- */

.container1 {
    position: relative;
    width: 22%;
    left: 61px;
    top: 244px;
   
  }
  .container2 {
    position: relative;
    width: 22%;
    left: 498px;
    top: -54px;
  }
  .container3{
    position: relative;
    width: 22%;
    left: 946px;
    top: -353px;
  }
  .images {
    /* display:inline-block; */
    width: 100%;
    height: auto;
    border: 2px solid rgb(255, 115, 21);
  border-radius: 25px;
  background-color: black;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f0831d;
    border: 2px solid rgb(43, 41, 41);
  border-radius: 25px;
  }
  
  .container1:hover .overlay {
    opacity: 1;
  }
  .container2:hover .overlay {
    opacity: 1;
  }
  .container3:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  body{
    background-color: black;
  }

  /* --------------------------- title img */
  .container .welcome {
    font-family: sans-serif;
    text-transform: uppercase;
    display: block;
}

.container {
    text-align: center;
    position: absolute;
    left: 643px;
    top: 724px;
    transform: translate(-50%,-50%); 
    width: 100%;
}

.welcome {
    font-size: 60px;
    font-weight: 700;
    color: #F4F4F4;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #000;
    position: relative;
    animation: text 3s 1;
}

.muzile {
    font-size: 30px;
    color: #f0831d;
}

@keyframes text {
    0%{
        color: #000;
        margin-bottom: -40px;
    }

    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
/* -------------------------------pra */

/* .prahome{
  color: #F4F4F4;
  font-family: "trebuchet MS";

font-size: 12pt;
text-align: justify;  
line-height: 28px;  
padding: 10px;
margin-top: 10px;
} */

h1{
  text-transform: uppercase;
  color: #f0831d;
  position: relative;
  left: 195px;
}
p{
  /* text-align: justify; */
  color: #F4F4F4;
  position: relative;
  left: 204px;
}
section{
  display:flex;
  flex-direction: columns;
  height:100%;
  position:relative;
  top: -86px;
}
section:after{
  content:'';
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: url('https://image.shutterstock.com/image-photo/food-background-italian-pasta-ravioli-260nw-1321535978.jpg');
  background-size: cover;
  /* background-position: 50% 50%; */
  opacity:0.8;
}

/* @mixin setBtn($borderColor,$bgColor,$txtColor){
  border:1px solid $borderColor;
  background: $bgColor;
  color:$txtColor;
} */
.intro{
  margin: auto;
  width:20%;
  position:relative;
  z-index:1;
}

/* @media only screen and (max-width: 800px){
  .intro{
    width:80%;
  }
} */

/* ----------------------------------------- */

.texthome .textw {
  font-family: sans-serif;
  text-transform: uppercase;
  display: block;
}

.texthome{
  text-align: center;
  position: absolute;
  left: 643px;
  top: 724px;
  transform: translate(-50%,-50%); 
  width: 100%;
}

.textw {
  font-size: 60px;
  font-weight: 700;
  color: #F4F4F4;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: #000;
  position: relative;
  animation: text 3s 1;
}

.textm {
  font-size: 30px;
  color: #f0831d;
}

@keyframes text {
  0%{
      color: #000;
      margin-bottom: -40px;
  }

  30%{
      letter-spacing: 25px;
      margin-bottom: -40px;
  }

  85%{
      letter-spacing: 8px;
      margin-bottom: -40px;
  }
}